In [ ]:
#Written by Matthijs

In [64]:
#Import libraries
import pandas as pd
import numpy as np

In [65]:
#Import the csv file and show the first 5 rows
sales = pd.read_csv(r"C:\Users\matth\Desktop\Master\Database_management\Sales\Final\real_final\real-real-final\Submissions\CSV\sales_raw_data.csv", sep=";", encoding='utf-8')
sales.head()

,year,release_date,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,Unnamed: 8,opening_weekend,theatre_count,avg run per theatre,runtime,keywords,creative_type,url
0,2000,January 1st,Bakha Satang,Drama,"76576,00",NaN,"76576,00",NaN,NaN,NaN,NaN,NaN,129.0,NaN,Contemporary Fiction,https://www.the-numbers.com/movie/Bakha-Satang...
1,2001,January 12th,Antitrust,Thriller/Suspense,"6900000,00","10965209,00","17865209,00","30000000,00",NaN,"5486209,00",2433.0,"3,10",NaN,NaN,Contemporary Fiction,https://www.the-numbers.com/movie/Antitrust
2,2000,January 28th,Santitos,NaN,NaN,"378562,00",NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,NaN,https://www.the-numbers.com/movie/Santitos
3,2002,2002 (Wide) by,Frank McKlusky C.I.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Frank-McKlus...
4,2002,January 25th,A Walk to Remember,Drama,"4833792,00","41227069,00","46060861,00","11000000,00",NaN,"12177488,00",2411.0,"5,30",NaN,Coming of Age,Contemporary Fiction,https://www.the-numbers.com/movie/Walk-to-Reme...

In [66]:
#Drop all duplicates
sales = sales.drop_duplicates()

In [67]:
#Select what columns we want
sales = sales[["year", "title", "genre", "international_box_office", "domestic_box_office", "worldwide_box_office", "production_budget", "theatre_count", "avg run per theatre", "url"]]
sales

,year,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,avg run per theatre,url
0,2000,Bakha Satang,Drama,"76576,00",NaN,"76576,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Bakha-Satang...
1,2001,Antitrust,Thriller/Suspense,"6900000,00","10965209,00","17865209,00","30000000,00",2433.0,"3,10",https://www.the-numbers.com/movie/Antitrust
2,2000,Santitos,NaN,NaN,"378562,00",NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Santitos
3,2002,Frank McKlusky C.I.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Frank-McKlus...
4,2002,A Walk to Remember,Drama,"4833792,00","41227069,00","46060861,00","11000000,00",2411.0,"5,30",https://www.the-numbers.com/movie/Walk-to-Reme...
...,...,...,...,...,...,...,...,...,...,...
30607,2021,Jokbeoldu sinmun iyagi,Documentary,"12356,00",NaN,"12356,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Jokbeoldu-si...
30608,2021,My Salinger Year,Drama,"914119,00","54730,00","968849,00",NaN,123.0,"2,00",https://www.the-numbers.com/movie/My-Salinger-...
30609,2021,Escort Vehicle 36,Action,"240000,00",NaN,"240000,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Escort-Vehic...
30610,2021,The Dry,Thriller/Suspense,"16987526,00","364397,00","17351923,00",NaN,186.0,"2,50",https://www.the-numbers.com/movie/Dry-The-(Aus...
30611,2021,Posledniy bogatyr. KorenÃ¢â‚¬â„¢ Zla,Adventure,"33396899,00",NaN,"33396899,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Posledniy-bo...

In [68]:
#Create Short_url to use as PK
sales["short_url"] = sales["url"].str.split(".com/").str[-1]
sales

,year,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,avg run per theatre,url,short_url
0,2000,Bakha Satang,Drama,"76576,00",NaN,"76576,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Bakha-Satang...,movie/Bakha-Satang-(S-Korea)
1,2001,Antitrust,Thriller/Suspense,"6900000,00","10965209,00","17865209,00","30000000,00",2433.0,"3,10",https://www.the-numbers.com/movie/Antitrust,movie/Antitrust
2,2000,Santitos,NaN,NaN,"378562,00",NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Santitos,movie/Santitos
3,2002,Frank McKlusky C.I.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://www.the-numbers.com/movie/Frank-McKlus...,movie/Frank-McKlusky-C-I
4,2002,A Walk to Remember,Drama,"4833792,00","41227069,00","46060861,00","11000000,00",2411.0,"5,30",https://www.the-numbers.com/movie/Walk-to-Reme...,movie/Walk-to-Remember-A
...,...,...,...,...,...,...,...,...,...,...,...
30607,2021,Jokbeoldu sinmun iyagi,Documentary,"12356,00",NaN,"12356,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Jokbeoldu-si...,movie/Jokbeoldu-sinmun-iyagi-(2020-South-Korea)
30608,2021,My Salinger Year,Drama,"914119,00","54730,00","968849,00",NaN,123.0,"2,00",https://www.the-numbers.com/movie/My-Salinger-...,movie/My-Salinger-Year-(Canada)
30609,2021,Escort Vehicle 36,Action,"240000,00",NaN,"240000,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Escort-Vehic...,movie/Escort-Vehicle-36-(2020-China)
30610,2021,The Dry,Thriller/Suspense,"16987526,00","364397,00","17351923,00",NaN,186.0,"2,50",https://www.the-numbers.com/movie/Dry-The-(Aus...,movie/Dry-The-(Australia)
30611,2021,Posledniy bogatyr. KorenÃ¢â‚¬â„¢ Zla,Adventure,"33396899,00",NaN,"33396899,00",NaN,NaN,NaN,https://www.the-numbers.com/movie/Posledniy-bo...,movie/Posledniy-bogatyr-Koren-Zla-(2021-Russia)

In [69]:
#Replace all NaN to 0
sales = sales.fillna(0)
sales

,year,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,avg run per theatre,url,short_url
0,2000,Bakha Satang,Drama,"76576,00",0,"76576,00",0,0.0,0,https://www.the-numbers.com/movie/Bakha-Satang...,movie/Bakha-Satang-(S-Korea)
1,2001,Antitrust,Thriller/Suspense,"6900000,00","10965209,00","17865209,00","30000000,00",2433.0,"3,10",https://www.the-numbers.com/movie/Antitrust,movie/Antitrust
2,2000,Santitos,0,0,"378562,00",0,0,0.0,0,https://www.the-numbers.com/movie/Santitos,movie/Santitos
3,2002,Frank McKlusky C.I.,0,0,0,0,0,0.0,0,https://www.the-numbers.com/movie/Frank-McKlus...,movie/Frank-McKlusky-C-I
4,2002,A Walk to Remember,Drama,"4833792,00","41227069,00","46060861,00","11000000,00",2411.0,"5,30",https://www.the-numbers.com/movie/Walk-to-Reme...,movie/Walk-to-Remember-A
...,...,...,...,...,...,...,...,...,...,...,...
30607,2021,Jokbeoldu sinmun iyagi,Documentary,"12356,00",0,"12356,00",0,0.0,0,https://www.the-numbers.com/movie/Jokbeoldu-si...,movie/Jokbeoldu-sinmun-iyagi-(2020-South-Korea)
30608,2021,My Salinger Year,Drama,"914119,00","54730,00","968849,00",0,123.0,"2,00",https://www.the-numbers.com/movie/My-Salinger-...,movie/My-Salinger-Year-(Canada)
30609,2021,Escort Vehicle 36,Action,"240000,00",0,"240000,00",0,0.0,0,https://www.the-numbers.com/movie/Escort-Vehic...,movie/Escort-Vehicle-36-(2020-China)
30610,2021,The Dry,Thriller/Suspense,"16987526,00","364397,00","17351923,00",0,186.0,"2,50",https://www.the-numbers.com/movie/Dry-The-(Aus...,movie/Dry-The-(Australia)
30611,2021,Posledniy bogatyr. KorenÃ¢â‚¬â„¢ Zla,Adventure,"33396899,00",0,"33396899,00",0,0.0,0,https://www.the-numbers.com/movie/Posledniy-bo...,movie/Posledniy-bogatyr-Koren-Zla-(2021-Russia)

In [70]:
#Rename the year and avg run per theatre
sales = sales.rename(columns={"year": "release_year", "avg run per theatre": "Avg_run_per_theatre"})
sales

,release_year,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,Avg_run_per_theatre,url,short_url
0,2000,Bakha Satang,Drama,"76576,00",0,"76576,00",0,0.0,0,https://www.the-numbers.com/movie/Bakha-Satang...,movie/Bakha-Satang-(S-Korea)
1,2001,Antitrust,Thriller/Suspense,"6900000,00","10965209,00","17865209,00","30000000,00",2433.0,"3,10",https://www.the-numbers.com/movie/Antitrust,movie/Antitrust
2,2000,Santitos,0,0,"378562,00",0,0,0.0,0,https://www.the-numbers.com/movie/Santitos,movie/Santitos
3,2002,Frank McKlusky C.I.,0,0,0,0,0,0.0,0,https://www.the-numbers.com/movie/Frank-McKlus...,movie/Frank-McKlusky-C-I
4,2002,A Walk to Remember,Drama,"4833792,00","41227069,00","46060861,00","11000000,00",2411.0,"5,30",https://www.the-numbers.com/movie/Walk-to-Reme...,movie/Walk-to-Remember-A
...,...,...,...,...,...,...,...,...,...,...,...
30607,2021,Jokbeoldu sinmun iyagi,Documentary,"12356,00",0,"12356,00",0,0.0,0,https://www.the-numbers.com/movie/Jokbeoldu-si...,movie/Jokbeoldu-sinmun-iyagi-(2020-South-Korea)
30608,2021,My Salinger Year,Drama,"914119,00","54730,00","968849,00",0,123.0,"2,00",https://www.the-numbers.com/movie/My-Salinger-...,movie/My-Salinger-Year-(Canada)
30609,2021,Escort Vehicle 36,Action,"240000,00",0,"240000,00",0,0.0,0,https://www.the-numbers.com/movie/Escort-Vehic...,movie/Escort-Vehicle-36-(2020-China)
30610,2021,The Dry,Thriller/Suspense,"16987526,00","364397,00","17351923,00",0,186.0,"2,50",https://www.the-numbers.com/movie/Dry-The-(Aus...,movie/Dry-The-(Australia)
30611,2021,Posledniy bogatyr. KorenÃ¢â‚¬â„¢ Zla,Adventure,"33396899,00",0,"33396899,00",0,0.0,0,https://www.the-numbers.com/movie/Posledniy-bo...,movie/Posledniy-bogatyr-Koren-Zla-(2021-Russia)

In [71]:
#Replace commas with periods in the selected columns
columns_to_replace = ['international_box_office', 'domestic_box_office', 'worldwide_box_office', 'production_budget', 'Avg_run_per_theatre']
sales[columns_to_replace] = sales[columns_to_replace].apply(lambda x: x.str.replace(',', '.'))
sales

,release_year,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,Avg_run_per_theatre,url,short_url
0,2000,Bakha Satang,Drama,76576.00,NaN,76576.00,NaN,0.0,NaN,https://www.the-numbers.com/movie/Bakha-Satang...,movie/Bakha-Satang-(S-Korea)
1,2001,Antitrust,Thriller/Suspense,6900000.00,10965209.00,17865209.00,30000000.00,2433.0,3.10,https://www.the-numbers.com/movie/Antitrust,movie/Antitrust
2,2000,Santitos,0,NaN,378562.00,NaN,NaN,0.0,NaN,https://www.the-numbers.com/movie/Santitos,movie/Santitos
3,2002,Frank McKlusky C.I.,0,NaN,NaN,NaN,NaN,0.0,NaN,https://www.the-numbers.com/movie/Frank-McKlus...,movie/Frank-McKlusky-C-I
4,2002,A Walk to Remember,Drama,4833792.00,41227069.00,46060861.00,11000000.00,2411.0,5.30,https://www.the-numbers.com/movie/Walk-to-Reme...,movie/Walk-to-Remember-A
...,...,...,...,...,...,...,...,...,...,...,...
30607,2021,Jokbeoldu sinmun iyagi,Documentary,12356.00,NaN,12356.00,NaN,0.0,NaN,https://www.the-numbers.com/movie/Jokbeoldu-si...,movie/Jokbeoldu-sinmun-iyagi-(2020-South-Korea)
30608,2021,My Salinger Year,Drama,914119.00,54730.00,968849.00,NaN,123.0,2.00,https://www.the-numbers.com/movie/My-Salinger-...,movie/My-Salinger-Year-(Canada)
30609,2021,Escort Vehicle 36,Action,240000.00,NaN,240000.00,NaN,0.0,NaN,https://www.the-numbers.com/movie/Escort-Vehic...,movie/Escort-Vehicle-36-(2020-China)
30610,2021,The Dry,Thriller/Suspense,16987526.00,364397.00,17351923.00,NaN,186.0,2.50,https://www.the-numbers.com/movie/Dry-The-(Aus...,movie/Dry-The-(Australia)
30611,2021,Posledniy bogatyr. KorenÃ¢â‚¬â„¢ Zla,Adventure,33396899.00,NaN,33396899.00,NaN,0.0,NaN,https://www.the-numbers.com/movie/Posledniy-bo...,movie/Posledniy-bogatyr-Koren-Zla-(2021-Russia)

In [72]:
#Make a temp dataframe to be able to make the genre table made together with Youssef
T = pd.DataFrame(sales[['genre', 'short_url']])
T

                   genre                                        short_url
0                  Drama                     movie/Bakha-Satang-(S-Korea)
1      Thriller/Suspense                                  movie/Antitrust
2                      0                                   movie/Santitos
3                      0                         movie/Frank-McKlusky-C-I
4                  Drama                         movie/Walk-to-Remember-A
...                  ...                                              ...
30607        Documentary  movie/Jokbeoldu-sinmun-iyagi-(2020-South-Korea)
30608              Drama                  movie/My-Salinger-Year-(Canada)
30609             Action             movie/Escort-Vehicle-36-(2020-China)
30610  Thriller/Suspense                        movie/Dry-The-(Australia)
30611          Adventure  movie/Posledniy-bogatyr-Koren-Zla-(2021-Russia)

[30612 rows x 2 columns]

In [73]:
#Create genre table
genre = pd.DataFrame(T['genre'])
genre

                   genre
0                  Drama
1      Thriller/Suspense
2                      0
3                      0
4                  Drama
...                  ...
30607        Documentary
30608              Drama
30609             Action
30610  Thriller/Suspense
30611          Adventure

[30612 rows x 1 columns]

In [74]:
#Keep every first instance of a genre and delete the rest
genre = genre.drop_duplicates(keep='first')
genre

                    genre
0                   Drama
1       Thriller/Suspense
2                       0
7             Documentary
8                  Comedy
17    Concert/Performance
22                 Action
26                 Horror
28              Adventure
37        Romantic Comedy
133          Black Comedy
153               Musical
269               Western
781       Multiple Genres
3027          Educational
4822              Reality

In [75]:
#Split the genres and explode
genre['genre'] = genre['genre'].replace('Thriller/Suspense', 'Thriller')
genre['genre'] = genre['genre'].replace('Concert/Performance', 'Concert')
genre

C:\Users\matth\AppData\Local\Temp\ipykernel_21592\3675996673.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre['genre'] = genre['genre'].replace('Thriller/Suspense', 'Thriller')
C:\Users\matth\AppData\Local\Temp\ipykernel_21592\3675996673.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre['genre'] = genre['genre'].replace('Concert/Performance', 'Concert')

                genre
0               Drama
1            Thriller
2                   0
7         Documentary
8              Comedy
17            Concert
22             Action
26             Horror
28          Adventure
37    Romantic Comedy
133      Black Comedy
153           Musical
269           Western
781   Multiple Genres
3027      Educational
4822          Reality

In [76]:
#create genre_ID as primary key
genre['genre_ID'] = range(1, len(genre) +1)
genre

C:\Users\matth\AppData\Local\Temp\ipykernel_21592\1346422325.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genre['genre_ID'] = range(1, len(genre) +1)

                genre  genre_ID
0               Drama         1
1            Thriller         2
2                   0         3
7         Documentary         4
8              Comedy         5
17            Concert         6
22             Action         7
26             Horror         8
28          Adventure         9
37    Romantic Comedy        10
133      Black Comedy        11
153           Musical        12
269           Western        13
781   Multiple Genres        14
3027      Educational        15
4822          Reality        16

In [77]:
#Merge the temp dataframe with the genre datagrame to make the has_genre dataframe
df2 = pd.DataFrame(T)
df2 = pd.DataFrame(genre)
has_genre = pd.merge(T, genre, on='genre', how='inner')
has_genre

,genre,short_url,genre_ID
0,Drama,movie/Bakha-Satang-(S-Korea),1
1,Drama,movie/Walk-to-Remember-A,1
2,Drama,movie/Takhte-siah,1
3,Drama,movie/Killing-of-John-Lennon-The,1
4,Drama,movie/Little-Chenier,1
...,...,...,...
27615,Educational,movie/Fien-en-Teun-Het-grote-dierenfeest-(2021...,15
27616,Reality,movie/Pyaar-Ka-Punchnama-2,16
27617,Reality,movie/Principle-The-(2014),16
27618,Reality,movie/Holy-Ghost,16
27619,Reality,movie/Benpao-Ba-Xiongdi-(China),16

In [78]:
#Remove the genre column
has_genre = has_genre.drop(columns=['genre'])
has_genre

                                               short_url  genre_ID
0                           movie/Bakha-Satang-(S-Korea)         1
1                               movie/Walk-to-Remember-A         1
2                                      movie/Takhte-siah         1
3                       movie/Killing-of-John-Lennon-The         1
4                                   movie/Little-Chenier         1
...                                                  ...       ...
27615  movie/Fien-en-Teun-Het-grote-dierenfeest-(2021...        15
27616                         movie/Pyaar-Ka-Punchnama-2        16
27617                         movie/Principle-The-(2014)        16
27618                                   movie/Holy-Ghost        16
27619                    movie/Benpao-Ba-Xiongdi-(China)        16

[27620 rows x 2 columns]

In [79]:
#Add the dummy PK called has_genre_ID
has_genre['has_genre_ID'] = range(1, len(has_genre) + 1)
has_genre

,short_url,genre_ID,has_genre_ID
0,movie/Bakha-Satang-(S-Korea),1,1
1,movie/Walk-to-Remember-A,1,2
2,movie/Takhte-siah,1,3
3,movie/Killing-of-John-Lennon-The,1,4
4,movie/Little-Chenier,1,5
...,...,...,...
27615,movie/Fien-en-Teun-Het-grote-dierenfeest-(2021...,15,27616
27616,movie/Pyaar-Ka-Punchnama-2,16,27617
27617,movie/Principle-The-(2014),16,27618
27618,movie/Holy-Ghost,16,27619
27619,movie/Benpao-Ba-Xiongdi-(China),16,27620

In [80]:
#Temp file to be able to create subset of data from another DataFrame called has_genre
temp = pd.DataFrame(has_genre[['genre_ID', 'short_url']])
temp

       genre_ID                                          short_url
0             1                       movie/Bakha-Satang-(S-Korea)
1             1                           movie/Walk-to-Remember-A
2             1                                  movie/Takhte-siah
3             1                   movie/Killing-of-John-Lennon-The
4             1                               movie/Little-Chenier
...         ...                                                ...
27615        15  movie/Fien-en-Teun-Het-grote-dierenfeest-(2021...
27616        16                         movie/Pyaar-Ka-Punchnama-2
27617        16                         movie/Principle-The-(2014)
27618        16                                   movie/Holy-Ghost
27619        16                    movie/Benpao-Ba-Xiongdi-(China)

[27620 rows x 2 columns]

In [81]:
#Merge the two dataframes on short_url
df2 = pd.DataFrame(temp)

df2 = pd.DataFrame(sales)

sales = pd.merge(temp, sales, on='short_url', how='inner')

sales

,genre_ID,short_url,release_year,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,Avg_run_per_theatre,url
0,1,movie/Bakha-Satang-(S-Korea),2000,Bakha Satang,Drama,76576.00,NaN,76576.00,NaN,0.0,NaN,https://www.the-numbers.com/movie/Bakha-Satang...
1,1,movie/Walk-to-Remember-A,2002,A Walk to Remember,Drama,4833792.00,41227069.00,46060861.00,11000000.00,2411.0,5.30,https://www.the-numbers.com/movie/Walk-to-Reme...
2,1,movie/Takhte-siah,2002,TakhtÃƒÂ© siah,Drama,NaN,21324.00,NaN,NaN,5.0,2.00,https://www.the-numbers.com/movie/Takhte-siah
3,1,movie/Killing-of-John-Lennon-The,2008,The Killing of John Lennon,Drama,NaN,6975.00,NaN,NaN,1.0,3.00,https://www.the-numbers.com/movie/Killing-of-J...
4,1,movie/Little-Chenier,2008,Little Chenier,Drama,NaN,87939.00,NaN,NaN,17.0,1.70,https://www.the-numbers.com/movie/Little-Chenier
...,...,...,...,...,...,...,...,...,...,...,...,...
27615,15,movie/Fien-en-Teun-Het-grote-dierenfeest-(2021...,2021,Fien & Teun - Het grote dierenfeest,Educational,227447.00,NaN,227447.00,NaN,0.0,NaN,https://www.the-numbers.com/movie/Fien-en-Teun...
27616,16,movie/Pyaar-Ka-Punchnama-2,2015,Pyaar Ka Punchnama 2,Reality,23030.00,222856.00,245886.00,NaN,49.0,2.00,https://www.the-numbers.com/movie/Pyaar-Ka-Pun...
27617,16,movie/Principle-The-(2014),2014,The Principle,Reality,NaN,89543.00,NaN,NaN,1.0,3.70,https://www.the-numbers.com/movie/Principle-Th...
27618,16,movie/Holy-Ghost,2014,Holy Ghost,Reality,NaN,NaN,NaN,NaN,0.0,NaN,https://www.the-numbers.com/movie/Holy-Ghost
27619,16,movie/Benpao-Ba-Xiongdi-(China),2015,Benpao Ba! Xiongdi,Reality,68110000.00,309297.00,68419297.00,NaN,20.0,3.00,https://www.the-numbers.com/movie/Benpao-Ba-Xi...

In [82]:
#Replace all NaN to 0
sales = sales.fillna(0)
sales

,genre_ID,short_url,release_year,title,genre,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,Avg_run_per_theatre,url
0,1,movie/Bakha-Satang-(S-Korea),2000,Bakha Satang,Drama,76576.00,0,76576.00,0,0.0,0,https://www.the-numbers.com/movie/Bakha-Satang...
1,1,movie/Walk-to-Remember-A,2002,A Walk to Remember,Drama,4833792.00,41227069.00,46060861.00,11000000.00,2411.0,5.30,https://www.the-numbers.com/movie/Walk-to-Reme...
2,1,movie/Takhte-siah,2002,TakhtÃƒÂ© siah,Drama,0,21324.00,0,0,5.0,2.00,https://www.the-numbers.com/movie/Takhte-siah
3,1,movie/Killing-of-John-Lennon-The,2008,The Killing of John Lennon,Drama,0,6975.00,0,0,1.0,3.00,https://www.the-numbers.com/movie/Killing-of-J...
4,1,movie/Little-Chenier,2008,Little Chenier,Drama,0,87939.00,0,0,17.0,1.70,https://www.the-numbers.com/movie/Little-Chenier
...,...,...,...,...,...,...,...,...,...,...,...,...
27615,15,movie/Fien-en-Teun-Het-grote-dierenfeest-(2021...,2021,Fien & Teun - Het grote dierenfeest,Educational,227447.00,0,227447.00,0,0.0,0,https://www.the-numbers.com/movie/Fien-en-Teun...
27616,16,movie/Pyaar-Ka-Punchnama-2,2015,Pyaar Ka Punchnama 2,Reality,23030.00,222856.00,245886.00,0,49.0,2.00,https://www.the-numbers.com/movie/Pyaar-Ka-Pun...
27617,16,movie/Principle-The-(2014),2014,The Principle,Reality,0,89543.00,0,0,1.0,3.70,https://www.the-numbers.com/movie/Principle-Th...
27618,16,movie/Holy-Ghost,2014,Holy Ghost,Reality,0,0,0,0,0.0,0,https://www.the-numbers.com/movie/Holy-Ghost
27619,16,movie/Benpao-Ba-Xiongdi-(China),2015,Benpao Ba! Xiongdi,Reality,68110000.00,309297.00,68419297.00,0,20.0,3.00,https://www.the-numbers.com/movie/Benpao-Ba-Xi...

In [83]:
#Remove the genre column
sales = sales.drop(columns=['genre'])
sales

,genre_ID,short_url,release_year,title,international_box_office,domestic_box_office,worldwide_box_office,production_budget,theatre_count,Avg_run_per_theatre,url
0,1,movie/Bakha-Satang-(S-Korea),2000,Bakha Satang,76576.00,0,76576.00,0,0.0,0,https://www.the-numbers.com/movie/Bakha-Satang...
1,1,movie/Walk-to-Remember-A,2002,A Walk to Remember,4833792.00,41227069.00,46060861.00,11000000.00,2411.0,5.30,https://www.the-numbers.com/movie/Walk-to-Reme...
2,1,movie/Takhte-siah,2002,TakhtÃƒÂ© siah,0,21324.00,0,0,5.0,2.00,https://www.the-numbers.com/movie/Takhte-siah
3,1,movie/Killing-of-John-Lennon-The,2008,The Killing of John Lennon,0,6975.00,0,0,1.0,3.00,https://www.the-numbers.com/movie/Killing-of-J...
4,1,movie/Little-Chenier,2008,Little Chenier,0,87939.00,0,0,17.0,1.70,https://www.the-numbers.com/movie/Little-Chenier
...,...,...,...,...,...,...,...,...,...,...,...
27615,15,movie/Fien-en-Teun-Het-grote-dierenfeest-(2021...,2021,Fien & Teun - Het grote dierenfeest,227447.00,0,227447.00,0,0.0,0,https://www.the-numbers.com/movie/Fien-en-Teun...
27616,16,movie/Pyaar-Ka-Punchnama-2,2015,Pyaar Ka Punchnama 2,23030.00,222856.00,245886.00,0,49.0,2.00,https://www.the-numbers.com/movie/Pyaar-Ka-Pun...
27617,16,movie/Principle-The-(2014),2014,The Principle,0,89543.00,0,0,1.0,3.70,https://www.the-numbers.com/movie/Principle-Th...
27618,16,movie/Holy-Ghost,2014,Holy Ghost,0,0,0,0,0.0,0,https://www.the-numbers.com/movie/Holy-Ghost
27619,16,movie/Benpao-Ba-Xiongdi-(China),2015,Benpao Ba! Xiongdi,68110000.00,309297.00,68419297.00,0,20.0,3.00,https://www.the-numbers.com/movie/Benpao-Ba-Xi...

In [84]:
#Converts the dataframe to a new tSV file
sales = sales.to_csv(r'C:\Users\matth\Desktop\Master\Database_management\Sales\Final\real_final\real-real-final\Submissions\TSV\sales_Data_Clean.tsv', index=False, sep='\t')
genre = genre.to_csv(r'C:\Users\matth\Desktop\Master\Database_management\Sales\Final\real_final\real-real-final\Submissions\TSV\genre_Data_Clean.tsv', index=False, sep='\t')
has_genre = has_genre.to_csv(r'C:\Users\matth\Desktop\Master\Database_management\Sales\Final\real_final\real-real-final\Submissions\TSV\has_genre_Data_clean.tsv', index=False, sep='\t')